::ng-deep .mat-step-label {
    font-size: 1.8em;
  }

  ::ng-deep .mat-button-wrapper {
    font-size: 0.8em;
  }
  mat-vertical-stepper{
    background: rgba(255, 255, 255, 0.700);
  }

  .step{
    font-size: 1.5em;
    padding: 1em;
    display: block;
}
.mat-form-field {
    display: block;
    position: relative;
    text-align: left;
}

.inputs{    
    padding: 2em;
    align-content: center;  
    margin: auto;
    margin-top: 2em; 
    margin-bottom: 4em;
    width: fit-content;
    height: fit-content;
}

button {
 font-size: 2em;
}

.new-click{
    margin-top: 5em;
    font-size: 0.8em;
    font-weight: 100 !important;
}