<!-- Header -->
<header id="header">
	<div class="inner">
	 
	</div>
  </header>
  
  <!-- Banner -->
  <section id="banner">
	<div class="inner">
	  <header>
		<h1 class="title_main"> {{title}}</h1>
	  </header>
  
	  <div class="flex ">
  
		<div>
		  <i class="material-icons">build</i><br>
		  <a routerLink="/candidate">Stwórz</a>
		  <p>Stwórz nowe głosowanie</p>
		</div>
  
		<div>
		  <i class="material-icons">thumbs_up_down</i><br>
		  <a routerLink="/voter">Głosuj</a>
		  <p>Głosuj w {{title}}</p>
		</div>
  
		<div>
		  <i class="material-icons">insert_chart</i><br>
		  <a routerLink="/results">Wyniki</a>
		  <p>Zobacz wyniki w {{title}}</p>
		</div>
  
	  </div>
	</div>
  </section>