<!-- Banner -->
<section id="banner">
  <div class="inner">
    <header>
      <h1 class="title_main"> {{title}}</h1>
    </header>

    

      <mat-card>
        <mat-card-content>
          <p>Wybierz jedną z opcji:</p>
      
          <section class="example-section">
            <mat-radio-group [(ngModel)]="choosenOne">
                <ul>
                    <li *ngFor="let option of allAssets">
                        <mat-radio-button value="{{option}}">{{option}}</mat-radio-button>
                    </li>
                  </ul>
             
            </mat-radio-group>
          </section>
                    
        </mat-card-content>
      </mat-card>


      <div [hidden]="choosenOne=='' || choosenOne== null"  class ="button">
          <i class="material-icons">thumb_up</i><br>
          <button (click)="openSnackBar()" (click)="addTransaction(choosenOne);" >Oddaj głos!</button>
        </div>

        <div class="button">
          <a routerLink="/main">Powrót</a>
        </div>
        
  </div>
</section>