.example-section {
    display: flex;
    align-content: center;
    align-items: center;
  }

  mat-card {
      align-content: center;
      background: rgba(255, 255, 255, 0.695);
      padding: 1.5em;
      margin: auto;
      margin-top: 2em; 
      width: fit-content;
      height: fit-content;
  }

  mat-card li{
      margin-top: 0.2em;
      font-size: 2em;
      list-style-type: none;
  }

  .button{
    margin-top: 3em;
  }

  button{
    background:none!important;
    color:inherit;
    border:none; 
    padding:0em !important;
    cursor: pointer;
    font-size: 3em;
    color: rgba(20, 1, 1, 0.952);
    margin-bottom: 1em;
    font-weight: 150;
  }

  button:hover{
    font-size: 3em;
    color: rgba(40, 133, 71, 0.952);
    font-weight: 170;
    text-decoration: none;
  }
  p {
    font-size: 3em;
    color: rgba(17, 13, 13, 0.952);
    margin-bottom: 0.5em;
  }